---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Services from '../components/Services.astro';
import Tarifs from '../components/Tarifs.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import MobileCtaBar from '../components/MobileCtaBar.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Philosophy />
    <Services />
    <Tarifs />
    <Testimonials />
    <FAQ />
    <Contact />
  </main>
  <Footer />
  <MobileCtaBar />
</Layout>
